*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
body , html{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background:
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("assets/hero.jpg") center;
  background-size: cover;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    border-bottom: 3px solid rgba(170, 170, 170, 0.5);
    background: red;
    z-index: 1000;
}
#userProfileDisplay{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
#userProfileDisplay img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#userProfileDisplay span{
    font-size: 20px;
    font-weight: 900;
}
#cartAndSetting{
    display: flex;
    align-items: center;
    gap: 20px;
}
#cartContainer{
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cartIconContainer .fa-cart-shopping{
    font-size: 30px;
    color: black;/*change to white later*/
    cursor: pointer;
}
#cartIconContainer span{
    cursor: pointer;
}
#cartCountContainer{
    width: 20px;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position:absolute;
    top: 5px;
    right: 28px;
}
#cartCount{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-size: 16px;
    font-weight: 900;
    color: black;
}
#settingContainer .fa-gear{
    font-size: 30px;
    color: black;/*change to white later*/
    cursor: pointer;
}

#tabCategorySection {
    padding: 100px 0;
}
#categoryBtnsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 16pxx;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type:x mandatory;
}
#categoryBtnsContainer::-webkit-scrollbar{
    display: none;
}
#categoryBtnsContainer button{
    flex: auto;
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    scroll-snap-align: start;
    }

#categoryBtnsContainer .tabBtn.active{
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgb(255, 213, 0);
  box-shadow: 3px 3px 8px rgba(255, 213, 0, 0.3);
}   

#tabContentHolder{
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    scrollbar-width: none;
}
#tabContentHolder::-webkit-scrollbar{
    display: none;
}
.tabContent{
    padding: 40px;
    display: none;
}
.tabContent.active{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.tabContent .card{
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    max-width: 400px;
}
.tabContent .card img{
    width: 100%;
    aspect-ratio: 4/3;
    height: 100%;
    object-fit: cover;
}
.tabContent .card .cardDescriptionHolder{
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.tabContent .card .cardDescriptionHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.tabContent .card .cardDescriptionHeader h3,
.tabContent .card .cardDescriptionHeader span{
    font-weight: 900px;
    color: white;
}
.tabContent .card .cardDescriptionHolder button{
    width: 100%;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
}
.quantityControl {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
}
.quantityControl button{
    cursor: pointer;
}
.quantityControl span{
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    background-color: grey;
}

#test{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
}
#atcBtn,#rfcBtn{
    padding: 30px;
}

/* test */
#testBtn{ 
    display: block;
    cursor: pointer;
}
@media(max-width: 768px){
    .tabContent.active {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .tabContent .card img {
    aspect-ratio: 1 / 1; /* square images look cleaner on small screens */
  }
  #categoryBtnsContainer {
    padding: 0 12px;
  }
}
@media (max-width: 480px) {
  #categoryBtnsContainer {
    padding: 0 8px;
  }
}